.area {
  padding: 30px 0;
}

.area h3 {
  margin-left: 20px;
  border-left: 4px solid;
  padding-left: 10px;
}

/* container com setas */
.area-container {
  position: relative;
  display: flex;
  align-items: center;
}

.products {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 20px;
  gap: 16px; /* 🔥 espaço entre os cards */
}

.product-card {
  flex: 0 0 auto;
  width: 250px; /* 🔥 tamanho fixo bonito */
}

/* remove scroll feio */
.products::-webkit-scrollbar {
  display: none;
}

/* setas */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;

  background: rgba(0,0,0,0.6);
  color: #fff;
  font-size: 22px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow.left {
  left: 5px;
}

.arrow.right {
  right: 5px;
}

.arrow:hover {
  background: rgba(0,0,0,0.8);
}